body {
    height: 100vh;
}

.error {
    height: 100%;
    display: flex;
    justify-content: center;
}

.error-content {
    position: relative;
    margin: auto;
}

.error-content h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 0.2em;
    color: #999;
}

.error-content span {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #5d5f5f;
}

.error-content button {
    width: 254px;
    height: 56px;
    margin: 30px auto 0;
    background: var(--primary-color);
    border-radius: 40px;
    font-family: Sofia Pro, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #000000;
    display: block;
    cursor: pointer;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}

.error-content button:hover {
    background: #236e47;
    color: #ffffff;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.flex-center {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
