body {
    height: 100vh;
}

hr {
    border: 0;
    height: 10px;
    margin: 20px 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--primary-color), rgba(0, 0, 0, 0));
}

section.success {
    height: 100%;
    display: flex;
    justify-content: center;
}

section.success .success-content {
    position: relative;
    margin: auto;
}

section.success .success-content h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 0.2em;
    color: #999;
}

section.success .success-content span {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #5d5f5f;
}

section.success .success-content button:not([type="submit"]) {
    width: 254px;
    height: 56px;
    margin: 30px auto 0;
    background: var(--primary-color);
    border-radius: 40px;
    font-family: Sofia Pro, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #000000;
    display: block;
    cursor: pointer;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}

section.success .success-content button:hover {
    background: #236e47;
    color: #ffffff;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

section.success .flex-center {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#resend {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

#resend input[name="email"] {
    height: 5vh;
    width: 40%;
    border: 5px solid var(--primary-color);
    text-indent: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

#resend input[name="email"]::placeholder {
    opacity: 0.75;
}

#resend input[name="email"]:focus {
    outline: none;
}

#resend input[name="email"]:focus::placeholder {
    color: transparent;
}

#resend button {
    height: 5vh;
    width: 10%;
    border: 0;
    background: var(--primary-color);
    font-size: 1.4rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--text-black);
}

#resend button:hover {
    color: var(--text-black);
    background: var(--fourth-color);
}
