body {
    font-size: 1.5rem !important;
    -webkit-text-size-adjust: none;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

a {
    text-decoration: none;
}

div {
    display: block;
}

input:focus, select:focus {
    outline: 0;
}

.clear {
    margin: 0;
    border: 0;
}

.align-middle {
    vertical-align: middle;
}

.align-items-center {
    align-items: center;
}

.user {
    width: 100%;
    height: 800px;
    background: #f5f5f5;
    padding-top: 10rem;
}

.user .container {
    display: flex;
    padding: 1.25rem 0 3.125rem;
}

.user .sidebar {
    display: block;
    width: 20%;
}

.user .active {
    color: var(--primary-color);
}

.sidebar-user {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #efefef;
}

.sidebar-user > a {
    position: relative;
    width: 30%;
}

.sidebar-avatar {
    display: inline-block;
    position: relative;
    width: 100%;
    border-radius: 50%;
    border: 0.0625rem solid rgba(0, 0, 0, .09);
    box-sizing: border-box;
}

.sidebar-avatar__placeholder {
    width: 100%;
    position: relative;
    padding-top: 100%;
    background-color: #f5f5f5;
    border-radius: 50%;
    overflow: hidden;
}

.sidebar-avatar__img, .sidebar-avatar__img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.sidebar-avatar__img {
    border-radius: 50%;
}

.sidebar-user > div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    overflow: hidden;
}

.sidebar-username {
    min-height: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    word-break: break-word;
    color: #333;
}

.sidebar-user a.edit {
    color: #888;
    text-transform: capitalize;
}

.sidebar-menu {
    list-style: none;
    padding: 0 20px;
    margin: 27px 0 0;
    cursor: pointer;
}

.menu-dropdown {
    position: relative;
}

.menu-dropdown-header > a:hover, .menu-dropdown-item > a:hover {
    color: var(--primary-color);
}

.menu-dropdown-header > a {
    color: rgba(0, 0, 0, .87);
    display: flex;
    align-items: center;
    margin-bottom: 0.9375rem;
    text-transform: capitalize;
    transition: color .1s cubic-bezier(.4, 0, .2, 1);
}

.menu-dropdown-header > a > i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    font-size: 2.5rem;
    color: var(--text-black);
    flex-shrink: 0;
    margin-right: 2rem;
}

.menu-dropdown-header-title {
    line-height: 2rem;
}

.menu-dropdown-body {
    height: 0;
    transition: height .4s cubic-bezier(.4, 0, .2, 1),
                opacity .4s cubic-bezier(.4, 0, .2, 1);
    padding-left: 1.25rem;
    opacity: 0;
    overflow: hidden;
}

.menu-dropdown-body-open {
    height: auto;
    opacity: 1;
}

.menu-dropdown-item {
    display: block;
    padding: 0 0 0.1875rem 2.125rem;
}
.menu-dropdown-item .item:first-child {
    margin-top: 0.5rem;
}

.menu-dropdown-item .item {
    display: block;
    margin-bottom: 1rem;
}

.user .content {
    position: relative;
    flex-grow: 1;
    width: 80%;
    box-sizing: border-box;
    margin-left: 1.25rem;
    min-width: 0;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);
    border-radius: 0.125rem;
}

.content-profile {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
}

.profile-container {
    padding: 0 1.875rem 0.625rem;
}

.profile-header {
    border-bottom: 0.0625rem solid #efefef;
    padding: 1.125rem 0;
}

.address-header {
    display: flex;
    align-items: center;
    padding: 1.125rem 0;
}

.profile-title {
    margin: 0;
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--text-black);
}

.address-title {
    flex: 1;
    font-size: 2rem;
}

.add-address-button {
    position: relative;
    display: flex;
    align-items: center;
    overflow: visible;
    outline: 0;
    background: var(--primary-color);
    color: #fff;
    height: 40px;
    padding: 0 20px;
    text-transform: capitalize;
    border: 0;
}

.add-address-button:hover {
    opacity: 0.8;
}

.profile-alert {
    margin-top: .6rem;
    line-height: 1.0625rem;
    color: var(--text-black-2);
}

.profile-body {
    padding-top: 1.875rem;
    flex-direction: row;
    align-items: center;
}

.password-body {
    padding-top: 1.5625rem;
    flex-direction: column;
    align-items: center;
}

.address-body {
    padding: 1.5625rem 0;
    flex-direction: column;
    align-items: center;
}

.profile-detail {
    flex: 1;
    padding-right: 3.125rem;
}

.password-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70rem;
}

.address-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.profile-form-group {
    margin-bottom: 1.875rem;
}

.profile-form-group .error {
    display: block;
    width: 100%;
    padding-left: calc(23%);
    margin-top: 5px;
    color: var(--error-color-border);
}
.profile-form-group .error:nth-of-type(2) {
    margin: 0;
}

.password-form-group {
    width: 100%;
    margin-bottom: 0.9375rem;
    border-radius: 0.125rem;
}

.password-form-group .error {
    display: block;
    width: 100%;
    padding-left: calc(28%);
    margin: 5px 0;
    color: var(--error-color-border);
}

.profile-row {
    align-items: center;
    display: flex;
    justify-content: center;
}

.password-row {
    align-items: center;
    display: flex;
}

.profile-col {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.profile-col:first-child {
    width: 150%;
}

.profile-col:first-child .profile-detail-title {
    width: 41%;
}

.profile-detail-title {
    width: 20%;
    text-align: right;
    color: rgba(85,85,85,.8);
    text-transform: capitalize;
    overflow: hidden;
}

.password-detail-title {
    width: 25%;
    text-align: right;
}

.address-detail-title {
    width: 10%;
    text-align: right;
}

.profile-detail-value {
    width: 80%;
    box-sizing: border-box;
    padding-left: 1.25rem;
}

.password-detail-value {
    display: flex;
    width: 50%;
    box-sizing: border-box;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.address-detail-value {
    width: 42.5%;
    font-weight: 400;
    padding-left: 2rem;
}

.profile-detail-value input, .password-detail-value input {
    padding: 1rem 1rem 1rem 1.25rem;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.address-detail-default {
    width: 12.5%;
    text-align: center;
    color: var(--primary-color);
}

.address-detail-tool {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.address-detail-tool a {
    margin: 0 1.25rem;
    color: var(--text-black);
    cursor: pointer;
}

.address-detail-tool a:not(.address-set-default) {
    font-weight: 400;
}

.address-set-default {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.125rem;
    padding: 5px 10px;
}

.address-set-default:not(.disabled):hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color .2s ease-in-out;
}

.address-set-default.disabled {
    color: var(--text-black-2);
    opacity: 0.5;
    cursor: not-allowed;
}

.profile-radio-group {
    display: flex;
}

.profile-radio {
    padding: 0;
    margin-right: 0.75rem;
    color: rgba(0,0,0,.87);
    display: flex;
    cursor: pointer;
}

.profile-radio-button {
    margin-right: 8px;
    flex-shrink: 0;
    position: relative;
    width: 18px;
    height: 18px;
}

.profile-radio-button--checked .profile-radio-button__outer-circle {
    border-color: var(--primary-color);
}

.profile-radio-button--checked > .profile-radio-button__outer-circle > .profile-radio-button__inner-circle {
    opacity: 1;
}

.profile-radio-button__outer-circle {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    border: 2px solid rgba(0,0,0,.26);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.profile-radio-button__outer-circle >.profile-radio-button__inner-circle {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: var(--primary-color);
    opacity: 0;
}

.profile-radio-label {
    cursor: pointer;
}

.profile-date-of-birth {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profile-date-of-birth .dropdown, .input-year {
    width: 32% !important;
    display: flex;
    box-sizing: border-box;
}

.profile-date-of-birth .dropdown select {
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 1rem;
    width: 100%;
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
}

.profile-date-of-birth .dropdown select,
.profile-date-of-birth .dropdown option,
.input-year input {
    font-family: 'Lato', Helvetica, Sofia Pro, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem !important;
    letter-spacing: 0.02em;
    color: #5d5f5f;
}

.profile-date-of-birth .dropdown:after {
    content: "▼";
    font-size: 1rem;
    top: 1vh;
    right: 2.5vh;
    position: relative;
}

.profile-date-of-birth .input-year label {
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 7px;
}

.profile-date-of-birth .input-year input {
    width: 100%;
    padding: 1rem 1rem 1rem 6rem;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 0.125rem;
    box-sizing: border-box;
}

.profile-form-submit {
    margin-bottom: 3.75rem;
    padding-left: calc(20% + 1.25rem);
}

.profile-button-submit {
    color: #fff;
    position: relative;
    overflow: visible;
    outline: 0;
    background: var(--primary-color);
    height: 40px;
    padding: 0 20px;
    min-width: 70px;
    max-width: 220px;
    border-radius: 4px;
    border: 0;
}

.profile-button-submit:hover {
    background: var(--primary-color-hover);
}

.profile-image {
    width: 25rem;
    overflow: hidden;
    border-left: 0.0625rem solid #efefef;
}

.profile-image > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-image-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.25rem;
    width: 6.25rem;
    margin: 1.25rem 0;
    position: relative;
}

.profile-image-data {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.image-upload-button {
    outline: 0;
    background: #fff;
    color: #555;
    border: 1px solid rgba(0,0,0,.09);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
    position: relative;
    overflow: visible;
    height: 40px;
    padding: 0 20px;
    min-width: 70px;
    max-width: 220px;
}

.content-purchase {
    max-height: 695px;
    background: #f5f5f5;
    box-shadow: 0 0 0 2px #F5F5F5;
    overflow: scroll;
}

.purchase-menu {
    display: flex;
    position: sticky;
    width: 100%;
    top: 0;
    margin-bottom: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    z-index: 10;
}

.purchase-menu-item {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    user-select: none;
    padding: 16px 0;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: #fff;
    color: var(--text-black);
    border-bottom: 2px solid rgba(0, 0, 0, .09);
    transition: color .2s;
    cursor: pointer;
    overflow: hidden;
}

.purchase-menu-item:hover {
    color: var(--primary-color);
}

.purchase-menu-item.active {
    border-color: var(--primary-color);
}

.purchase-menu-item > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.purchase-item {
    margin: 12px 0;
    box-shadow: 0 1px 1px 0 rgba(0 0 0 / 5%);
    border-radius: 0.125rem;
}

.purchase-item-detail:first-child {
    padding-top: 24px;
}

.purchase-item-detail {
    padding: 12px 24px;
    background: #fff;
}

.purchase-status {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0 12px;
}

.purchase-status-detail {
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
}

.purchase-status-type {
    margin: 0 10px 0 0;
    padding: 0 5px 0 0;
    text-align: right;
    border-right: 1px solid rgba(0, 0, 0, .12);
}

.purchase-status-type > a {
    margin: 0 5px 0 0;
    vertical-align: middle;
}

.purchase-status-type > a div:first-child {
    display: inline-block;
    margin: 0 4px 0 0;
    vertical-align: middle;
    color: var(--primary-color);
    stroke: var(--primary-color);
}

.purchase-status-type > a > span {
    vertical-align: middle;
    color: var(--primary-color);
}

.purchase-status-type .info {
    position: relative;
    display: inline-flex;
    margin: 0 0 0 6px;
    vertical-align: middle;
    overflow: visible;
    outline: 0;
}

.purchase-status-name {
    line-height: 24px;
    color: var(--primary-color-rgba1);
}

.status-title {
    line-height: 24px;
    color: var(--blue);
    text-align: right;
    text-transform: uppercase;
    white-space: nowrap;
}

.purchase-item-detail .line {
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}

.item-detail, .item-detail-title {
    display: flex;
    word-wrap: break-word;
}

.item-detail {
    padding: 12px 0 0;
    align-items: center;
    flex-wrap: nowrap;
    color: rgba(0,0,0,.87);
}

.item-detail-title {
    padding: 0 12px 0 0;
    flex: 1;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.item-detail-img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border: 1px solid #e1e1e1;
    background: #e1e1e1;
}

.img__content, .img__wrapper, .img__placeholder {
    width: 100%;
    height: 100%;
}

.img__wrapper {
    position: relative;
}

.img__placeholder {
    position: relative;
    background-color: #fafafa;
}

.img__content {
    position: absolute;
    top: 0;
    left: 0;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.item-detail-content {
    min-width: 0;
    padding: 0 0 0 12px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    word-wrap: break-word;
}

.item-detail-name {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 0 0 5px;
    font-size: 16px;
    line-height: 22px;
    max-height: 48px;
}

.item-detail-type, .item-detail-quantity {
    margin: 0 0 5px;
}

.item-detail-type {
    color: var(--text-grey);
}

.item-detail-price {
    text-align: right;
}

.discount-price, .final-price {
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0,0,0,.87);
}

.discount-price {
    margin: 0 4px 0 0;
    text-decoration-line: line-through;
    color: #000;
    opacity: .26;
    overflow: hidden;
    text-overflow: ellipsis;
}

.purchase-line-full {
    position: relative;
    width: 100%;
    height: 0;
    border-bottom: 1px dotted rgba(0, 0, 0, .09);
}

.purchase-total-price {
    padding: 24px 24px 12px;
    background: #fffefb;
}

.total-price-title {
    margin: 0 10px 0 0;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, .8);
}

.total-price-value {
    color: var(--primary-color);
    font-size: 24px;
    line-height: 30px;
}

.purchase-action {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    background: #fffefb;
    padding: 12px 24px 24px;
}

.purchase-action-detail, .purchase-action-confirm {
    display: flex;
    overflow: hidden;
}

.purchase-action-confirm {
    margin: 0 0 0 10px;
    align-items: center;
    text-overflow: ellipsis;
}

.confirm-button, .confirm-button:hover {
    border: 1px solid transparent;
}

.confirm-button {
    min-width: 150px;
    min-height: 40px;
    font-family: inherit !important;
    text-overflow: ellipsis;
    text-transform: capitalize;
    background-color: var(--primary-color);
    color: #fff;
    outline: 0;
    overflow: hidden;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid rgba(0,0,0,.26);
    padding: 8px 20px;
    border-radius: 4px;
}

.confirm-button:hover {
    background-color: #0b2e13;
    border: 1px solid rgba(0,0,0,.26);
}